<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>[% file_base %]</title>

    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
      crossorigin="anonymous">
    <link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
      integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
      crossorigin="anonymous">

    <style type="text/css">
      #outerDiv {
        width: [% view_port_width %]px; height: [% view_port_height %]px;
        border: 1px solid #888888; position: relative;
        overflow: hidden;
      }
      #innerDiv {
        position: relative;
        left: 0px;
        top: 0px;
        z-index: 0;
      }
      #resolutionInfo {
        border-left: 1px solid #888888;
        border-right: 1px solid #888888;
        border-bottom: 1px solid #888888;
        padding: 2px 2px 0 0;
        width: [% view_port_width %]px;
        background:#00cdcd;
        font: normal 10px sans-serif;
      }
      #zoomButtonDiv {
        position: absolute;
        left:5px;
        top:5px;
        z-index:1;
      }
      .button-map {
        opacity: 0.55;
        color: #333;
        background-color: #fff;
        border-color: #d6e7ee;
      }
      .button-map:hover, .button-map:active:focus, .button-map:focus, .button-map:active {
        opacity: 0.75;
      }
      #magnifier {
        position:absolute;
        left:0px;
        top:0px;
        z-index:1;
        background-color:transparent;
        border: 1px dotted yellow;
        outline: black dotted 1px;
      }
      #miniMap {
        position: relative;
      }
      #informational_box {
        margin: 50px 0 0 0;
        padding: 3px;
        width:250px;
        border: 1px solid #888888;
        background-color:#d6e7ee;
        font-size: 12px;
      }
      img {
        display: block;  /* fix for IE */
      }
    </style>
  </head>
  <body>

    <div class="container-fluid">

      <h1>[% file_base %]</h1>

      <div class="row">

        <!-- main map -->
        <div class="col-md-6">
          <div id="outerDiv">
            <div id="zoomButtonDiv" class="btn-group" role="group"
                aria-label="zoom buttons">
              <button id="incrZoom" type="button" class="btn button-map">
                <i class="fas fa-plus"></i>
              </button>
              <button id="decrZoom" type="button" class="btn button-map">
                <i class="fas fa-minus"></i>
              </button>
            </div>
            <div id="innerDiv">
            </div>
          </div>
          <div id="resolutionInfo">
          </div>
        </div>

        <div class="col-md-6">
          <!-- mini map -->
          <div id="miniMap">
            <div id="miniMapInner">
              <img src="rendered/mini_map.png" alt="mini map" />
            </div>
            <div id="magnifier">
            </div>
          </div>

          <!-- informational box -->
          <div id="informational_box">
            <p>
                The slippy map is generated by taking as input,
                a pdf, png, jpg, or gif and then generating the
                appropriate html, css, and javascript.
                You may <a href="[% file_base %].zip">download the generated files</a>
                to run this on your own web site.
            </p>
            <div id="infoDiv">
              main map
            </div>
            <div id="magnifierInfo">
              magnifier
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
      integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
      crossorigin="anonymous"></script>
    <script src="slippy_map.js"></script>
  </body>
</html>
